.Capa {
    z-index: -2;
    position: absolute;
    background-image: url('../../img/Stalingrado.jpg');

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    margin-left: 85px;
}.Capa::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.4);
    border-bottom: 5px solid #EEC68F;
}

.Main {
    z-index: 5;
    width: 100%;
    padding: 20px;

    margin-left: 100px;
    display: block;
    align-content: center;
    justify-content: center;

}

.Titulo {
    text-align: center;
    margin-top: 180px;
    margin-bottom: 120px;
    text-shadow: #000 2px 4px 6px;
    color: #EEC68F;
}.Titulo h1 {
    font-size: 80px;
    font-weight: 600;

}.Titulo p {
    font-size: 48px;
    font-family: "Lora", serif;
    font-style: italic;

}

.container_dataLocal {
    display: flex;
    margin: auto;
    width: 70%;
    height: 650px;
    padding: 40px;
    gap: 3%;

    background-color: #524e4d;
    border: 5px solid #BF5454;
} .container_dataLocal .Texto {
    font-family: "Hind Madurai", sans-serif;
    text-align: justify;
    line-height: 1.8;
    font-weight: 300;

    color: #EEC68F;

    width: 45%;
    height: 100%;
} .container_dataLocal .Texto h2 {
    font-family: "Lora", serif;
    font-weight: 300;
    font-style: italic;

    color: #EEC68F;
    font-size: 36px;
    margin-bottom: 20px;
} .container_dataLocal .Texto p {
    font-size: 20px;
    margin-top: 20px;
} .container_dataLocal .Texto a {
    text-decoration: none;
    color: #EEC68F;
}

.container_dataLocal img {
    width: 50%;
    height: 100%;
    margin-left: 20px;
    object-fit: cover;
    border-radius: 20px;
}

/* Proporção */
@media screen and (max-width: 840px) {
    .Capa {
        margin-left: 0px;
    }

    .Main {
        margin-left: 0px;
    }
}