    .container {
        position: fixed;
        z-index: 999;
        height: 70px;
        width: 100%;
        background-color: none;
    }
    
    .container_Ham {
        z-index: 999;
        background-color: #8C3B42;
        border: 2px solid #EEC68F;
        box-shadow: 0px 0px 30px -5px #1f1f1f;
        height: 60px;
        width: 62px;
        border-radius: 50px;
        margin-top: 18px;
        margin-left: calc(100% - 70px);

        cursor: pointer;
        display: flex;
        align-items: center;
    }
    
    .hamburguer {
        cursor: pointer;
        margin: auto;
        border: none;
        background: none;
        border-top: 5px solid #EEC68F;
        border-radius: 2px;
        margin-left: 12px;
        margin-top: 16px;
    }
    
    .hamburguer::before,
    .hamburguer::after {
        content: " ";
        display: block;
        width: 35px;
        height: 5px;
        border-radius: 2px;
        background-color: #EEC68F;
        margin: 5px 0;
        transition: all 0.3s ease-in-out;
    }

    @media screen and (min-width: 1000px) {
        .hamburguer,.container_Ham {
            display: none;
        }
        
    }